# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Cache
.cache/
